@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General button style (reset) */
.btn {
	border: 		none;
	font-family: 	inherit;
	font-size: 		inherit;
	color: 			inherit;
	background: 	none;
	cursor: 		pointer;
	padding: 		25px 80px;
	display: 		inline-block;
	margin: 		15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 	700;
	outline: 		none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1 */
.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1d */
.btn-1d {
	overflow: hidden;
}

.btn-1d:after {
	width: 		0;
	height: 	103%;
	top: 		50%;
	left: 		50%;
	background: #fff;
	opacity: 	0;
	-webkit-transform: 	translateX(-50%) translateY(-50%);
	-moz-transform: 	translateX(-50%) translateY(-50%);
	-ms-transform: 		translateX(-50%) translateY(-50%);
	transform: 			translateX(-50%) translateY(-50%);
}

.btn-1d:hover,
.btn-1d:active {
	color: #0e83cd;
}

.btn-1d:hover:after {
	width: 15%;
	opacity: 1;
	height: 70%;
}

.btn-1d:active:after {
	width: 15%;
	opacity: 1;
}

