body, html {
	height: 100%;
	width: 100%;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.sub-container {
	width: 100%;
	height: 50%;
	position: relative;
}

.sub-container-abs {
	width: 100%;
	height: 50%;
	position: absolute;
}

#enter-btn {
	z-index: 3;
	text-align: center;
	width: 100%;
	bottom: 10%;
	position: absolute;
}

#enter-btn button {
	z-index: 3;
}

.container.login {
	top: -100%;
}